.CalendarItem {
  background-color: #FAF3E9;
  border-radius: 12px;
  min-width: 156px;
  min-height: 128px;
  width: 100%;
  height: 100%;
  user-select: none;

  display: flex;
  align-items: center;
  justify-content: center;

  color: black;
  font-size: 32px;
  font-weight: 700;

  animation: hoverout 0.5s;
  transition: transform 0.5s;

  cursor: pointer;
}

.CalendarItem:hover {
  transform: scale(1.1);
}

.CalendarItem:active {
  background-color: #00000000;
  color: #FAF3E9;
  background: linear-gradient(180deg, #FF9600 0%, #FF0099 100%, #FF2E6A 100%);
  transform: scale(1.1);
}

.CalendarItem_notCurrentMonth {
  border-radius: 12px;
  min-width: 156px;
  min-height: 128px;
  width: 100%;
  height: 100%;
  user-select: none;

  display: flex;
  align-items: center;
  justify-content: center;

  color: #FAF3E9;
  font-size: 32px;
  font-weight: 700;
}

.CalendarItem_currentDay {
  border-radius: 12px;
  min-width: 156px;
  min-height: 128px;
  width: 100%;
  height: 100%;
  user-select: none;

  display: flex;
  align-items: center;
  justify-content: center;

  color: #FAF3E9;
  font-size: 32px;
  font-weight: 700;

  animation: hoverout 0.5s;
  transition: transform 0.5s;
  cursor: pointer;

}

.CalendarItem_currentDay:hover {
  transform: scale(1.1);
}

.CalendarItem_currentDay:active {
  background-color: #faf3e900;
  color: #FAF3E9;
  background: linear-gradient(180deg, #FF9600 0%, #FF0099 100%, #FF2E6A 100%);
  transform: scale(1.1);
}

.CalendarItem_withContent {
  background-color: #FF2E6A;
  border-radius: 12px;
  min-width: 156px;
  min-height: 128px;
  width: 100%;
  height: 100%;
  user-select: none;

  display: flex;
  align-items: center;
  justify-content: center;

  color: #FAF3E9;
  font-size: 32px;
  font-weight: 700;

  animation: hoverout 0.5s;
  transition: transform 0.5s;
  cursor: pointer;
}

.CalendarItem_withContent:hover {
  transform: scale(1.1);
}

.CalendarItem_withContent:active {
  background-color: #faf3e900;
  color: #FAF3E9;
  background: linear-gradient(180deg, #FF9600 0%, #FF0099 100%, #FF2E6A 100%);
  transform: scale(1.1);
}

.CalendarItem__seagull {
  height: 88px;
  animation: pulse 2s infinite;
  user-select: none;
  -webkit-user-drag: none;
}

.CalendarItem_selected {
  background: linear-gradient(180deg, #FF9600 0%, #FF0099 100%, #FF2E6A 100%);
  border-radius: 12px;
  min-width: 156px;
  min-height: 128px;
  width: 100%;
  height: 100%;
  user-select: none;

  display: flex;
  align-items: center;
  justify-content: center;

  color: #FAF3E9;
  font-size: 32px;
  font-weight: 700;
  transform: scale(1.1);

  cursor: pointer;
}

@keyframes pulse {
  0% {
    transform: scale(0.9);
  }
  40% {
    transform: scale(1) rotate(5deg);
  }
  80% {
    transform: scale(1) rotate(-5deg);
  }
  100% {
    transform: scale(0.9) rotate(0);
  }
}

@keyframes hover {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

@keyframes hoverout {
  0% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
