.Sidebar {
  position: fixed;
  background: linear-gradient(180deg, #FF9600 0%, #FF0099 100%, #FF2E6A 100%);
  width: 25%;
  height: 100vh;
  grid-column: 0 / 2;
  grid-row-start: 0;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(7, 128px);

}
