.Sidebar {
  grid-column: 0 / 2;
  grid-row-start: 0;
  position: sticky; // See link
  top: 0; 
  width: 100%;
  min-height: 100vh;
  height: auto;
  background: linear-gradient(180deg, #FF9600 0%, #FF0099 100%, #FF2E6A 100%);
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(8, 128px);
  justify-items: stretch;
  align-content: stretch;
  gap: 32px;

}
