.Sidebar {
  grid-area: sidebar;
  // grid-column: 0 / 2;
  // grid-row-start: 0;
  position: sticky;
  top: 0; 
  width: 100%;
  min-width: 250px;
  height: auto;
  min-height: 100vh;
  background: linear-gradient(180deg, #FF9600 0%, #FF0099 100%, #FF2E6A 100%);
  display: grid;
  grid-template-columns: 2rem 1fr 2rem;
  grid-template-rows: 64px 64px 1fr;
  justify-items: stretch;
  align-content: center;
  row-gap: 2rem;

  grid-template-areas: 
  "sidebar_title"
  "sidebar_subtitle"
  "sidebar_list";

  border: 1px solid #fff;

}

.Sidebar__title {
  grid-area: sidebar_title;
  display: flex;
  align-items: center;
  margin: 0;
  width: 100%;
  height: 100%;
  font-size: 1.5rem;
  font-weight: 900;
  user-select: none;
  white-space: nowrap;
  border: 1px solid #ff4;
  grid-column: 2 / 3;
}

.Sidebar__subtitle {
  grid-area: sidebar_subtitle;
  display: flex;
  align-items: center;
  margin: 0;
  width: 100%;
  height: 100%;
  font-size: 3rem;
  font-weight: 900;
  padding: 0px;
  user-select: none;
  border: 1px solid #ff4;
  grid-column: 2 / 3;

}

.Sidebar__section {

}

@media (max-width: 1000px) {
  .Sidebar {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 64px 64px 1fr;
    grid-template-areas: 
    "sidebar_title sidebar_subtitle"
    "sidebar_list sidebar_list";
    row-gap: 0;
  }

  .Sidebar__title {
    grid-column: 1 / 2;
  }

  .Sidebar__subtitle {
    font-size: 1.5rem;
    justify-content: flex-end;
  }
}
