.Header {
  grid-area: header;
  width: 100%;
  min-height: 64px;
  /* max-width: 1270px; */

  display: grid;
  grid-template-columns: repeat(7, 1fr) 1rem;
  grid-template-rows: auto;
  justify-items: stretch;
  align-content: center;
  gap: 2rem;

  /* grid-column: 2 / 5;
  grid-row: 0 / 2; */

  border: 1px solid #fff;

}


.Header__userName {
  grid-column: 0 / 5;
  font-size: 1.5rem;
  font-weight: 900;
  user-select: none;
  margin: 0;
  border: 1px solid #ff4;

}

.Header__projectName {
  grid-column: 5 / 8;
  font-size: 1.5rem;
  font-weight: 900;
  user-select: none;
  margin: 0;

  justify-self: flex-end;

  border: 1px solid #ff4;

}

.Header__seagull {
  height: 64px;
  animation: pulse 2s infinite;
}


@media (max-width: 1000px) {
  .Header {
    gap: 0;
    min-height: 32px;
    align-content: end;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "user_name"
    "project_name";
  }

  .Header__userName {
    padding-left: 0.7rem;
    font-size: 1.2rem;

  }

  .Header__projectName {
    padding-right: 0.7rem;
    font-size: 1.2rem;

  }
  
}

@keyframes pulse {
  0% {
    transform: scale(0.9);
  }
  40% {
    transform: scale(1) rotate(5deg);
  }
  80% {
    transform: scale(1) rotate(-5deg);
  }
  100% {
    transform: scale(0.9) rotate(0);
  }
}
