.CalendarList {
  width: 100%;
  height: auto;
  grid-column: 1 / 7;
  grid-row-start: 3;
  display: grid;
  grid-template-columns: repeat(7, auto);
  grid-template-rows: repeat(auto-fill, auto);
  justify-items: stretch;
  align-content: stretch;
  gap: 2rem;
  padding-bottom: 2rem;
}

