.SidebarItem {
   /* background-color: $_ivory-white; */
  background-color: #FAF3E9;

  border-radius: 12px;
   /* min-width: 156px; */
   /* min-height: 128px; */
  aspect-ratio: 3 / 1;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  margin: 0px;
  padding: 0px;
  cursor: pointer;
  border: none;

  animation: hoverout 0.2s;
  transition: transform 0.2s;

   /* border: 1px solid #666fff; */

}

.SidebarItem:hover {
  transform: scale(1.05);
}

.SidebarItem:active {
  transform: scale(1);
}

.SidebarItem_empty {
  background-color: rgb(250, 243, 233, 0.5);
  border-radius: 12px;
   /* min-width: 156px; */
   /* min-height: 128px; */
  aspect-ratio: 3 / 1;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  margin: 0px;
  padding: 0px;
  cursor: pointer;
  border: none;

  animation: hoverout 0.2s;
  transition: transform 0.3s;

   /* border: 1px solid #666fff; */

}

.SidebarItem_empty:hover {
  transform: scale(1.05);
}

.SidebarItem_empty:active {
   /* transform: scale(1); */
  transform: rotateY(180deg);

}

.SidebarItem_create_button {
  background: none;
  width: 3rem;
  height: 3rem;
  font-size: 64px;
  font-weight: 500;
  white-space: wrap;
  text-align: center;
  user-select: none;
  color: #FAF3E9;

  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0px;
  padding: 0px;

  cursor: pointer;

}

.SidebarItem_text {
  width: 80%;
  color: #1C1C1C;
  font-size: 14px;
  font-weight: 400;
  white-space: wrap;
  text-align: center;
  user-select: none;

}


@media (max-width: 1320px) {
  .SidebarItem {
    aspect-ratio: 5 / 2;
  }
  .SidebarItem_empty {
    aspect-ratio: 5 / 2;
  }
  .SidebarItem_create_button {
    font-size: 48px;
  }
  .SidebarItem_text {
    font-size: 12px;
  }
}

@media (max-width: 1000px) {
  .SidebarItem {
    aspect-ratio:8 / 1;
  }
  .SidebarItem_empty {
    aspect-ratio:8 / 1;
  }
  .SidebarItem_create_button {
    font-size: 48px;
  }
  .SidebarItem_text {
    font-size: 12px;
  }
}

@media (max-width: 500px) {
  .SidebarItem {
    aspect-ratio:4 / 1;
  }
  .SidebarItem_empty {
    aspect-ratio:4 / 1;
  }
  .SidebarItem_create_button {
    font-size: 48px;
  }
  .SidebarItem_text {
    font-size: 12px;
  }
}
